*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#canvasElement, #highlightCanvas , #videoElement {
  display: block;
  margin: 0 auto;
}


#highlightCanvas{
  width: 100vw;
}


#myButton{
  background-color: black;
  padding: 12px 24px;
  border-radius: 100vw;
  color: white;
  font-size: 24px;
}

#myButton:hover{
  cursor: pointer;
}
